{% extends "base.html" %}
{% block middle-content %}
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>CROSS</h3>
                <p class="text-subtitle text-muted">Classificação de Risco Online em Sistemas de Saúde</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Principal</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Remoção de Pacientes</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card p-2">
            <div class="card-header">
                <h4 class="card-title fs-3">Deletar atendimento</h4>
            </div>
            <div class="card-body">
                <form method="post" class="form">
                    {% csrf_token %}
                    <div>
                        <span>Você tem certeza que deseja excluir esse atendimento</span>?

                        <div class="col-12 d-flex justify-content-end">
                            <button type="submit" class="btn icon icon-left btn-danger me-1 mb-1" id="btn-delete">Deletar atendimento</button>

                            <a class="btn icon icon-left btn-success me-1 mb-1" id="btn-cancel" href="{% url 'main:appointment-list-nurse' %}">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock middle-content %}